body{
    background-color: green;
    display: flex;
    justify-content: center;
    margin-top:40px;
}

button{
    margin-top: 15px;
}

p{
    font-weight: lighter;
    font-size:1.8rem;
    color: white;
}